body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.project {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  background: #f9f9f9;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 250px;
}


.project img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
}

button {
  padding: 10px 20px;
  background: #037109;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #05c312;
}
